<p>change-detect works!</p>

naam: {{name}}


<button (click)="addCar();">Add car</button>

<div style="display: flex">
  <ul>
    <li *ngFor="let car of cars">{{car.make}} {{car.model}}</li>
  </ul>

  <app-car-viewer [cars]="cars"></app-car-viewer>
</div>

<hr>

<button (click)="config.name = config.name + 'test'">Vul naam aan</button>


<div style="width: 100px; height: 100px; border: 3px solid purple; border-radius: 30px; background: pink;"
     (mousemove)="move()">hover hier</div>



pipes?
- date
- json
- currency
- async
- lowercase/uppercase/titlecase

<ul>
    <li>config naam: {{config.name}}</li>
    <li>config naam met pure pipe: {{config | mijnpure}}</li>
    <li>config naam met impure pipe: {{config | mijnimpure}}</li>
</ul>